@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #091034;
  background-color: #e0ebe0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #091034;
  /* background: none; */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #236ab9;
  box-shadow: 2px 0px 5px 0px rgb(236, 247, 244) inset;
  border-radius: 4px;
  /* height: 50px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #d4f7d4;
}

/* Cutout text for header */
.header-image-container {
  background-image: url("./assets/backyardSM.jpg"); /* The image used - important! */
  background-size: cover;
  background-position: center;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 500px; /* Some height */
}

.header-text {
  /* Todo: make bg color gradient 3 colors to look like italian flag */
  background-color: white;
  /* background: linear-gradient(to bottom, red, white 45%, green 100%); */
  color: black;
  font-size: 8vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 55%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 40%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

/* 404 page */
.tomato {
  background-image: url("./assets/tomato.jpg");
  background-size: cover;
  /* position: relative;  */
  height: 800px;
  /* filter: brightness(0.6) contrast(1); */
}

.myText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
